{"configSettings":[{"appID":"SharedServerToken","serverToken":"3PIUWESLDQA6HX3ABZARGETROCMQRKPK"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"807715647524746","serverToken":"DAAPLP5VZK6I4YXJJARG7YE6ERY5JNEZ"},{"appID":"e34355a2-ebc8-4ee8-9438-8785b99a0501","serverToken":""},{"appID":"1214034766673543","serverToken":"3PIUWESLDQA6HX3ABZARGETROCMQRKPK"},{"appID":"1727234757643392","serverToken":""}]}